@model IEnumerable<LibraryManagement.Models.Issue_Books>

@{
    ViewData["Title"] = "ShowMyBooks";
}
<style>
    body {
        background-image: url("https://media.istockphoto.com/photos/ivory-off-white-paper-texture-picture-id903280608?k=20&m=903280608&s=170667a&w=0&h=yxLk_ymR4bWfgAxi774CWiLAkIt2SZD315VFBiGmRzo=");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h1>ShowMyBooks</h1>


<table class="table">
    <thead style="background-color:tan;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>

            </tr>
        }
        <div style="position:fixed;left:30px;bottom:40px;" class="text-white">
            <input type="button" style="background-color:green; border-color:black; border-radius:20px; color:white;height:40px;width:70px; font-size:15px " onclick="location.href = '/Button/StudentTabs';" value="Back" /><br><br>

        </div>
    </tbody>
</table>
